*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;

    margin: 0;
    padding: 0;

    color: #789;
    background-color: #f2f2f2;
}

.container {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0,1,1,.2);
            box-shadow: 0 5px 15px rgba(0,1,1,.2);
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    position: relative;

    min-height: 55px;

    text-transform: uppercase;

    color: #000;
    background-color: #fff;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-navigation,
.hotels-list,
.feature-box,
.social,
.sort-list {
    list-style: none;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-height: 55px;
    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-navigation-item {
    width: 257px;
    height: 55px;
    line-height: 55px;
}

.site-navigation-item:nth-child(1),
.site-navigation-item:nth-child(2) {
    text-align: left;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:nth-child(4) {
    text-align: right;
}

.site-navigation-item:nth-child(1) {
    padding-left: 72px;
}

.site-navigation-item:nth-child(4) {
    padding-right: 72px;
}

.site-navigation-link {
    color: #000;
}

.site-navigation-link:hover {
    color: #81b3d2;
}

.site-navigation-link:focus {
    color: rgba(0,0,0,.3);
}

.site-navigation-item.current {
    color: #766357;
}

.main-header-logo {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;

    width: 140px;
    height: 72px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.promo {
    position: relative;

    min-height: 507px;
    padding: 76px 0 61px;

    background-color: #deebf4;
    background-image: url(../img/bg_promo.jpg);
    background-repeat: no-repeat;
    background-position: top -81px center;
    background-size: cover;
}

.promo:after {
    position: absolute;
    bottom: -3px;
    left: 0;

    width: 100%;
    height: 60px;

    content: "";

    background-image: url("../img/intro-mask.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.promo-pic {
    text-align: center;
}

.advantages {
    padding-top: 55px;
}

.title-main {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.1px;

    max-width: 610px;
    margin: 0;
    margin: 0 auto;
    margin-bottom: 39px;
    margin-top: 6px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}

.advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 1200px;
    margin: 0;
    padding: 0;

    list-style: none;

    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.advantages-title {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0.1px;

    margin: 0;
    margin-top: -10px;
    margin-bottom: 50px;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}

.advantages-item-single-block {
    width: 400px;
    min-height: 257px;
    padding-top: 50px;
    padding-right: 60px;
    padding-left: 54px;

    background-color: #eee;
}

.advantages-item-single-block {
    width: calc(100% / 3);
    padding-top: 46px;

    text-align: center;
}

.advantages-item-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;

    margin: 0;
    margin-left: 45px;
    margin-right: 39px;
    margin-bottom: 25px;

    text-transform: uppercase;

    color: #000;
}

.advantages-item-desc {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    margin: 0;

    text-transform: uppercase;

    color: #000;
}

.advantages-item-number {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    display: block;

    margin-bottom: 21px;

    text-transform: uppercase;

    color: #000;
}

.advantages-item-dual {
    text-transform: uppercase;
}

.advantages-item-4 .advantages-item-desc {
    max-width: 277px;
    margin: 0 auto;
    padding: 0px 0 0 6px;
}

.advantages-item-5 .advantages-item-desc {
    max-width: 262px;
    margin: 0 auto;
    padding: 0px 0 0 6px;
}

.dual-block-pic {
    width: 800px;
    min-height: 255px;

    background-size: cover;
}

.dual-block-text {
    width: 400px;
    min-height: 257px;
    padding-top: 46px;
    padding-right: 50px;
    padding-left: 48px;

    text-align: center;

    background-color: #81b3d2;
}

.pic-right {
    background-image: url(../img/bg_advantages_1.jpg);
    background-position: top -80px left;
}

.pic-left {
    background-image: url(../img/bg_advantages_2.jpg);
    background-position: top -75px left;
}

.dual-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.dual-block-text .advantages-item-title,
.dual-block-text .advantages-item-desc,
.dual-block-text .advantages-item-number {
    color: #fff;
}

.feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-height: 182px;
    margin: 0;
    padding: 0;

    text-align: center;

    -webkit-box-align: stretch;

        -ms-flex-align: stretch;

            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.feature-box {
    width: 400px;
    min-height: 330px;
    padding-top: 162px;
    padding-right: 55px;
    padding-left: 55px;
}

.feature-item-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;

    position: relative;

    margin: 0;
    margin-bottom: 32px;

    text-transform: uppercase;

    color: #000;
}

.feature-item-title.house:before {
    position: absolute;
    top: -102px;
    left: 50%;

    width: 74px;
    height: 70px;

    content: "";
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background-image: url(../img/icon-house.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.feature-item-title.food:before {
    position: absolute;
    top: -102px;
    left: 50%;

    width: 74px;
    height: 70px;

    content: "";
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background-image: url(../img/icon-food.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.feature-item-title.souvenirs:before {
    position: absolute;
    top: -104px;
    left: 50%;

    width: 64px;
    height: 75px;

    content: "";
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background-image: url(../img/icon-surprise.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.feature-item-desc {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    margin: 0;
    margin-top: -9px;

    text-transform: uppercase;

    color: #333;
}

.booking {
    position: relative;

    padding-top: 55px;
}

.booking-form {
    position: absolute;
    top: 100%;
    left: 50%;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 570px;
    padding: 55px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background: #fff;
}

.booking-wrapper {
    position: relative;

    width: 347px;
}

.icon-calendar {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 10px;

    width: 21px;
    height: 21px;
    margin-top: -10px;

    border: none;
    background: transparent;
}

.booking-form-input {
    font-size: 14px;
    font-weight: bold;
    line-height: auto;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding-top: 7px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 14px;

    text-transform: uppercase;

    color: #000;
    border: none;
    background-color: #f2f2f2;
}

.booking-form-input-short {
    width: 38px;
    height: 38px;
    padding: 0;

    text-align: center;
}

.booking-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;

    margin: 0;
    margin-top: -6px;
    margin-bottom: 23px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}

.button-search {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    display: block;

    width: 569px;
    min-height: 85px;
    margin: 0 auto;

    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #766357;
}

.booking-title {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;

    margin: 0;
    margin-bottom: 48px;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}

.map {
    height: 605px;

    background-image: url(../img/map_sedona.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top -137px left;
}

.booking-form-wrap {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    margin-bottom: 55px;

    text-transform: uppercase;

    color: #000;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.booking-form-wrap-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    margin-bottom: 29px;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.booking-form-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 114px;
}

.controls-plus {
    font-size: 22px;
    font-weight: bold;
    line-height: 1em;

    width: 38px;
    height: 38px;

    border: none;
    background: #f2f2f2;
}

.controls-minus {
    font-size: 32px;
    font-weight: bold;
    line-height: 1em;

    width: 38px;
    height: 38px;

    cursor: pointer;

    border: none;
    background: #f2f2f2;
}

.booking-form-wrap-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.booking-form-wrap-people.adults {
    width: 226px;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.booking-form-wrap-people.children {
    width: 232px;

    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


.booking-form-wrap-people.children .booking-form-controls {
    margin-left: 27px;
}

.booking-label {
    font-size: 14px;
    font-weight: bold;
    line-height: auto;

    text-transform: uppercase;

    color: #000;

    margin-top: 0;
    margin-left: 3px;
}

.booking-form-button {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    width: 458px;
    min-height: 58px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #81b3d2;
}

.booking-form-button:hover {
    color: #fff;
    background-color: #669ec0;
}

.booking-form-button:active {
    color: rgba(255,255,255,.3);
    background-color: #669ec0;
}

.booking-form-input:hover {
    color: #000;
    background-color: #ebebeb;
}

.booking-form-input:active {
    color: #000;
    border: 3px solid #e5e5e5;
    background-color: #fff;
}

.filters {
    width: 1200px;
    min-height: 216px;
    padding: 28px 0 15px 0;

    background-color: #6c98bf;
    background-image: url("../img/bg_filters.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.filters-item {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    width: 136px;
    margin-bottom: 26px;

    text-transform: uppercase;

    color: #fff;
}

.filters-item:last-child {
    margin-bottom: 0;
}

.filters-item label {
    position: relative;

    display: block;

    padding-left: 42px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox + label::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 22px;

    content: "";

    border: 2px solid #fff;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 22px;

    content: "";

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
    border: none;
}

.filter-input-checkbox {
    display: none;
}

.filters-legend {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;

    margin-right: 58px;
    margin-bottom: 23px;

    text-transform: uppercase;

    color: #fff;


}

.button-filters {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    width: 133px;
    min-height: 35px;

    text-transform: uppercase;

    color: #fff;
}

.hotels-list {
    margin: 0;
    padding: 0;
}

.hotels-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    margin: 0;
    margin-right: 50px;

    text-transform: uppercase;

    color: #000;
}

.hotels-title-sort {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;

    margin: 0;
    margin-right: 38px;
    margin-left: -3px;
    padding: 0;

    text-transform: uppercase;

    color: #000;
}

.sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    margin: 0;
    padding: 0;
}

.sort-list-item {
    margin: 0;
    margin-right: 34px;
    padding: 0;
}

.sort-list-item:last-child {
    margin: 0;
}

.sort-list-item-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;

    color: rgba(0,0,0,.3);
    border-bottom: 1px dashed #81b3d2;
}

.sort-list-item-link:hover {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;
}

.sort-list-item-link:active {
    color: #000;
    border-bottom: 1px dashed transparent;
}

.sort-list-item-link.current {
    color: #81b3d2;
    border-bottom: 1px dashed transparent;
}

.hotels-item-link {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.3px; 

    text-transform: uppercase; 

    color: #000;
}

.hotels-item-link:hover {
    color: #81b3d2;
}

.hotels-item-link:active {
    color: rgba(0,0,0,.3);
}

.hotels-item-title {
    margin: 0;
    margin-top: -5px;
    margin-bottom: 10px
}

.hotels-item-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    display: flex;
    flex-direction: row; 
    justify-content: flex-start;

    text-transform: uppercase;

    color: #333;

    margin: 0;
    margin-bottom: 13px;
}

.hotels-item-text span:first-child {
    margin-right: 6px;
    width: 110px;
}


.hotels-pic {
    width: 135px;
}

.button-detailed {
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;

    display: block;

    width: 110px;
    min-height: 27px;
    margin-right: 6px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #81b3d2;
}

.button-booking {
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;

    display: block;
    width: 142px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #766357;
}

.button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    margin: 0;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin-left: auto;

    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start; 
        -ms-flex-pack: start; 
            justify-content: flex-start;

    height: 91px;
}

.rating-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.rating-stars span {
    margin-left: 5px;
}

.rating-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;

    margin: 0;
    margin-top: auto;
    padding: 0 10px;
    width: 109px;

    text-transform: uppercase;

    color: #666;
    border: 3px solid #f2f2f2;
    background-color: #f2f2f2;
}

.button-detailed:hover {
    color: #fff;
    background-color: #669ec0;
}

.button-detailed:active {
    color: rgba(255,255,255,.3);
    background-color: #5496bd;
}

.button-booking:hover {
    color: #fff;
    background-color: #604e43;
}

.button-booking:active {
    color: rgba(255,255,255,.3);
    background-color: #503e33;
}

.button-search:hover {
    color: #fff;
    background-color: #604e43;
}

.button-search:active {
    color: rgba(255,255,255,.3);
    background-color: #503e33;
}

.main-footer {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 100%;
    min-height: 133px;
    padding-right: 100px;
    padding-left: 100px;

    background: rgba(254,254,254,.9);

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-footer.no-fixed {
    position: static;
}


.hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;

    text-transform: uppercase;

    color: #000;

    margin-top: -14px;
    margin-left: 34px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-width: 150px;

    margin-top: 2px;
    margin-left: 25px;
    padding: 0;
}

.social-icon {
    width: 46px;
    height: 46px;
    margin: 0 3px;

    background-color: #81b3d2;
}

.social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-icon:hover {
    background-color: #669ec0;
}

.social-icon:active {
    background-color: #5496bd;
}

.author {
    height: 50px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    width: 196px;

    text-transform: uppercase;

    color: #000;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
}

.author-text {
    margin-top: -10px;
}

.author-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;

    text-transform: none;

    color: #000;

    margin: 0;
    margin-left: 6px;
}

.filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    max-width: calc(100% - 144px);
    min-height: 159px;
    margin: 0 auto;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.filters-form fieldset {
    margin: 0 60px 0 0;
    padding: 0;

    border: none;
}

.filters-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.search-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    padding-top: 32px;
    padding-right: 73px;
    padding-bottom: 30px;
    padding-left: 73px;

    border-bottom: 1px solid;
    border-color: #e5e5e5;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    margin: 0;
    margin-left: auto;

    list-style: none;
}

.sort-item {
    margin-left: 10px;
}

.sort-item-up span {
    display: inline-block;

    width: 0;
    height: 0;

    border-right: 5px solid transparent;
    border-bottom: 11px solid #cacaca;
    border-left: 5px solid transparent;
}

.sort-item-up.current span {
    border-bottom: 10px solid #81b3d2;
}

.sort-item-up span:hover {
    border-bottom: 10px solid #231f20;
}

.sort-item-up span:active {
    border-bottom: 10px solid #81b3d2;
}


.sort-item-down span {
    display: inline-block;

    width: 0;
    height: 0;

    border-top: 11px solid #cacaca;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.sort-item-down.current span {
    border-top: 10px solid #81b3d2;
}

.sort-item-down span:hover {
    border-top: 10px solid #231f20;
}

.sort-item-down span:active {
    border-top: 10px solid #81b3d2;
}

.hotels-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    min-height: 151px;
    padding-top: 29px;
    padding-right: 73px;
    /*padding-bottom: 26px;*/
    padding-left: 73px;

    border-bottom: 1px solid;
    border-color: #e5e5e5;
}

.hotels-list-desc {
    margin-left: 30px;
}

.filter-range {
    width: 317px;
    margin-left: auto;

    text-transform: uppercase;

    color: #fff;
}

.filter-range-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.2px;

    margin-bottom: 11px;
}

.price-controls {
    font-size: 0;

    position: relative;

    height: 36px;
    margin-bottom: 20px;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: "";
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background: #fff;
}

.price-controls label {
    font-size: 14px;
    line-height: 15px;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;
}

.price-controls .min-price {
    width: 144px;
    padding: 4px 0 0 64px;
}

.price-controls .max-price {
    width: 155px;
    padding: 5px 0 0 67px;
}

.price-controls input {
    font: inherit;

    width: 50px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-sizing: content-box;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover {
    border-width: 9px;
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    font-size: 14px;
    line-height: 20px;

    display: block;

    margin-left: 84px;
    padding: 6px 35px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}

.btn-transparent:hover {
    color: #000;
    background: #fff;
}
