body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #778899;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

  a {
  text-decoration: none;
}

 .main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

 .site-navigation {
  list-style: none;
}
 .site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,{
  background-color: #242424;
}
